body {
    font-family: verdana;
}

#result {
    padding: 30px;
    min-height: 200px;
    height: fit-content;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 0 #bbb;
}

button {
    position: absolute;
    right: 50%;
}